* {
    scroll-behavior: smooth;
 }
 
         body {
             background-image: url('pic/hci1.jpg');
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             background-attachment: fixed;  
             font-family: Arial, sans-serif;
             margin: 0;
             padding: 0;
             display: flex;
             height: 100vh;
             flex-direction: column;
         }
 
         .header {
             position: sticky; 
             top: 0; 
             z-index: 1000; 
             display: flex;
             justify-content: space-between;
             align-items: center;
             width: 100%;
             padding: 5px;
             background-color: rgba(255, 255, 255, 0.8); 
         }
 
         .logo-container {
             display: flex;
             align-items: center;
         }
 
         .logo, .logo2 {
             width: 60px;
             height: 60px;
             background-size: cover;
             border-radius: 50%;
             display: flex;
             align-items: center;
             justify-content: center;
             color: #333;
             font-size: 12px;
         }
 
         .logo { background-image: url('pic/gclogo.png'); margin-right: 10px; }
         .logo2 { background-image: url('pic/gcccslogo.png'); margin-left: auto; }
 
         .nav {
             display: flex;
             list-style: none;
         }
 
         .nav li {
             margin: 0 20px;
         }
 
         .nav a {
             text-decoration: none;
             color: #333;
             font-size: 14px;
         }
 
         .main {
             display: flex;
             flex-grow: 1;
             overflow: hidden;
         }
 
         .sidebar {
             width: 200px;
             background-color: rgba(255, 255, 255, 0.8);
             padding: 10px;
             overflow-y: auto;
             height: calc(100vh - 50px); /* Adjust height based on header height */
         }
 
         .sidebar a {
             text-decoration: none;
             color: #333;
             display: block;
             padding: 10px;
             margin-bottom: 5px;
             border-radius: 5px;
             transition: background-color 0.3s;
         }
 
         .sidebar a:hover {
             background-color: #d3750b;
             color: white;
         }
 
         .content {
             flex-grow: 1;
             padding: 20px;
             overflow-y: auto;
             height: calc(100vh - 50px); /* Adjust height based on header height */
         }
 
         h1, h2 {
             color: #d3750b;
             font-family: 'Courier New', Courier, monospace;
             font-weight: bold;
             text-shadow: 2px 2px 2px #000000;
         }
 
         iframe {
             width: 100%;
             max-width: 800px;
             height: 400px;
         }